body {
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
}
header {
    background-color: #4c4c4c;
    color: #fff;
    text-align: center;
}
header a {
    text-decoration: none; /* Remove underlines */
    display: block; /* Extend the clickable area */
    padding: 4px 0;
    color: #fff;
}
header a:visited {
    color: #fff; 
}
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}
.question {
    margin-bottom: 20px;
}
button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}
button:hover {
    background-color: #0056b3;
}
.feedback {
    font-weight: bold;
    margin-top: 10px;
}
.correct {
    color: green;
}
.incorrect {
    color: red;
}